@import  url("https://fonts.googleapis.com/css?family=Akronim");
@import  url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import  url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

#map { position: absolute; top: 1; bottom: 1; width: 100%; height: 100vh }

.marker {
	background-image: url('../imagenes/estadio.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 200;
}

.mapboxgl-popup {
	max-width: 200px;
  }

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
body{
	color: white;
	margin:0;
	padding:0;
}
.title{

	padding: 15px;
}
.contenedor-login{

	float: left;
	display: flex;
}
.login{

	float: right;
	width: 50%;
	margin: 5%;
}

/*.sidebar {
	overflow: auto;
	position: absolute;
	background-color: white;
	width: 30%;
	height: 100vh;
	right: 0px;
	left: -30%;
	bottom: 0px;
	top: 0px;
	z-index: 300;
}*/

.sidebar img{
width:100%!important;
height: 36vh;
}

.sidebar h1{
margin: 0 auto;
font-family: 'Fjalla One', sans-serif;
font-size: 1.5rem;
padding-left: 5%;
padding-top: 5%;
}

.sidebar label{
color: #a9a9a9;
padding-left: 5%;
}

.sidebar hr{
margin: 0;
}

#btn-close{
position: absolute;
left: 90%;
top: 3%;
color: white;
cursor: pointer;
border-radius: 50%;
border: 2px solid #D6D2D2;
background-color: rgba(0,0,0,.5);
}

#btn-close:hover{
transform: scale(1.1);
transition: all 0.3s ease;
}

#loading{
position: absolute;
top: 0px;
right: 0px;
display: none;
}

.info-place{
height: 51.9vh;
background-color: #00152c;
}

.info-place hr{
background-color: #f2ca30;
}

.icon{
margin: 3%;
width: 10%;
height: 40px;
border-radius: 40px;
background-color: #f2ca30;
}

.icon i{
margin: 19%;
font-size: 1.5rem;
color: white;
}

.feature{
float: right;
width: 85%;
}

.feature label{
font-size: 1rem;
font-family: 'Oswald', sans-serif;
}

.feature a{
font-size: 1rem;
font-family: 'Oswald', sans-serif;
padding-left: 5%;
}

#description-place{
font-size: .8rem;
margin-top: -1%;
}

.show-sidebar {
	left: 0!important;
	top: 60%!important;
	transition: all linear .3s;
}
  
.hide-sidebar{
	display: none;
	left: -30%;
	transition: all linear .3s;
}
/************************************************************************************************/
.login input{

	opacity: .40;
	border-radius: 5px;
	border: none;
	padding: 5%;
	width: 100%;
	display: flex;
	margin: 5%;
}

.login button{

	border-radius: 5px;
	border: none;
	padding: 5%;
	width: 100%;
	display: flex;
	margin: 5%;
	text-align: center;
}

.mapa-login{

	width: 50%;
}

.mapa-login img{

margin-left: 10%;
margin-top: 5%;
width: 90%;
height: 80%;
}

