@import  url("https://fonts.googleapis.com/css?family=Akronim");
@import  url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import  url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

#map { position: absolute; top: 1; bottom: 1; width: 100%; height: 100vh }

.marker {
	background-image: url('../imagenes/marcador.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 200;
}
body{
	color: white;
	margin:0;
	padding:0;
}
.title{

	padding: 15px;
}
.contenedor-login{

	float: left;
	display: flex;
}
.login{

	float: right;
	width: 50%;
	margin: 5%;
}
/************************************************************************************************/
.login input{

	opacity: .40;
	border-radius: 5px;
	border: none;
	padding: 5%;
	width: 100%;
	display: flex;
	margin: 5%;
}

.login button{

	border-radius: 5px;
	border: none;
	padding: 5%;
	width: 100%;
	display: flex;
	margin: 5%;
	text-align: center;
}

.mapa-login{

	width: 50%;
}

.mapa-login img{

margin-left: 10%;
margin-top: 5%;
width: 90%;
height: 80%;
}

